@charset "utf-8";

body{
	background-color: #fafafa;
}
.container{
	margin: 0 auto;
}
.container-fluid{
	background-color: white;
}

h1{
	font-size: 25px;
	text-align: left;
	padding-bottom: 10px;
	padding-left: 180px;
}
h2{
	font-size: 18px;
	margin: 1px 1px 5px 1px;
}


.alert-danger {
    color: #f32f2c;
    background-color: #fff9f3;
    border-color: #f3c8b0;
}

#ue{
	border-top-style: none;
}

.form-control{
	margin-bottom: 5px;
}
.mail{
	margin-bottom: 5px;
}
.btn-primary {
	border-color: #65bfe8;
	background-color:  #65bfe8;
	margin-left: 450px;
	margin-top: 30px;
}